name: e2e tests

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - test-powershell
      - releases/*
    paths-ignore:
      - '**.md'

jobs:
  test-proxy:
    runs-on: ubuntu-22.04
    container:
      image: mcr.microsoft.com/devcontainers/dotnet:latest
      options: --dns 127.0.0.1
    services:
      squid-proxy:
        image: ubuntu/squid:latest
        ports:
          - 3128:3128
    env:
      https_proxy: http://squid-proxy:3128
      http_proxy: http://squid-proxy:3128
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check if PowerShell is installed
        run: |
          if command -v pwsh >/dev/null 2>&1; then
            echo "PowerShell is already installed"
            pwsh --version
          else
            echo "PowerShell is NOT installed"
          fi
      # - name: Install curl
      #   run: apt-get update && apt-get install -y curl
      # - name: Install Powershell
      #   run: |
      #     apt-get update
      #     apt-get install -y wget apt-transport-https software-properties-common
      #     wget -q "https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb"
      #     dpkg -i packages-microsoft-prod.deb
      #     rm packages-microsoft-prod.deb
      #     apt-get update
      #     apt-get install -y powershell
      - name: List installed .NET SDKs and runtimes
        run: |
          dotnet --list-sdks
          dotnet --list-runtimes
      - name: Clear toolcache
        shell: pwsh
        run: __tests__/clear-toolcache.ps1 ${{ runner.os }}
      - name: Setup dotnet 10.0
        uses: ./
        with:
          dotnet-version: 10.0
          source-url: https://api.nuget.org/v3/index.json
        env:
          NUGET_AUTH_TOKEN: NOTATOKEN
      - name: Verify dotnet
        shell: pwsh
        run: |
          __tests__/verify-dotnet.ps1 -Patterns "^10.0" -CheckNugetConfig
